{% extends 'base_generic.html' %}


{% block content %}
<div class="registration-container">
  <h2>Вход</h2>
  {% if form.errors %}
    <p class="error-message">Ваше имя пользователя или пароль введены неверно. Пожалуйста, попробуйте ещё раз.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p class="error-message">Ваш аккаунт не имеет доступа к этой странице. Пожалуйста, войдите с другим аккаунтом.</p>
    {% else %}
      <p class="info-message">Пожалуйста, войдите в свой аккаунт, чтобы получить доступ к этой странице.</p>
    {% endif %}
  {% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}


<div class="input-group">
  <label class="user-icon">
    <i class="fas fa-user"></i>
  </label>
  <input type="text" name="username" id="username" placeholder="Логин">
  {% if form.username.errors %}
    <span class="error-message">{{ form.username.errors }}</span>
  {% endif %}
</div>

<div class="input-group">
  <label class="lock-icon">
    <i class="fas fa-lock"></i>
  </label>
  <input type="password" name="password" id="password" placeholder="Пароль">

  <span class="eye-icon" id="toggle-password">
    <i class="fas fa-eye"></i>
  </span>

  {% if form.password.errors %}
    <span class="error-message">{{ form.password.errors }}</span>
  {% endif %}
</div>

<script>
  const togglePassword = document.getElementById('toggle-password');
  const passwordField = document.getElementById('password');

  togglePassword.addEventListener('click', function () {
    // Переключение типа поля password <-> text
    const type = passwordField.type === 'password' ? 'text' : 'password';
    passwordField.type = type;

    // Переключение иконки глаза
    this.innerHTML = type === 'password' ? '<i class="fas fa-eye"></i>' : '<i class="fas fa-eye-slash"></i>';
  });
</script>

<style>

  .eye-icon {
    position: absolute;
    top: 50%;
    right: 41px; /* Располагаем в правой части */
    transform: translateY(-50%); /* Центрируем по вертикали */
    cursor: pointer;
    z-index: 1; /* Глазик будет выше поля ввода */
  }

</style>

  <div class="submit-button">
    <button type="submit">Войти</button>
  </div>

  <input type="hidden" name="next" value="{{ next }}" />
</form>

  <p class="password-reset-link">
    <a href="{% url 'password_reset' %}">Забыли пароль?</a>
  </p>
  <div class="register-link">
    <p>Ещё нет аккаунта?</p>
    <a href="{% url 'signup' %}">
      <button class="register-button">Зарегистрироваться</button>
    </a>
  </div>
</div>
{% endblock %}
