{% extends 'base_app.html' %}

{% block content %}
<main>
    <section class="chat-container">
        <div id="notification-container"></div>

        <aside class="subjects-menu">
            <h3>Загрузите документ и выберите предмет</h3>

            <div class="d-flex gap-2 justify-content-center py-2"id = "subjects-container">
                <button class="btn btn-secondary rounded-pill px-3" type="button" onclick="selectSubject(this, 'Математика')">Математика</button>
                <button class="btn btn-secondary rounded-pill px-3" type="button" onclick="selectSubject(this, 'Физика')">Физика</button>
                <button class="btn btn-secondary rounded-pill px-3" type="button" onclick="selectSubject(this, 'История')">История</button>
                <button class="btn btn-secondary rounded-pill px-3" type="button" onclick="selectSubject(this, 'Химия')">Химия</button>
                <button class="btn btn-secondary rounded-pill px-3" type="button" onclick="selectSubject(this, 'Биология')">Биология</button>
                <button class="btn btn-secondary rounded-pill px-3" type="button" onclick="selectSubject(this, 'Социология')">Социология</button>
                <button class="btn btn-secondary rounded-pill px-3" type="button" onclick="selectSubject(this, 'Экономика')">Экономика</button>
                <button class="btn btn-secondary rounded-pill px-3" type="button" onclick="selectSubject(this, 'Астрономия')">Астрономия</button>
                <button class="btn btn-secondary rounded-pill px-3" type="button" onclick="selectSubject(this, 'Философия')">Философия</button>
            </div>
        </aside>

        <input type="hidden" id="chat-id" value="{{ chat.id|default:'' }}">
        <div id="global-menu-container"></div>
         <div id="chat-box" class="chat-box">
            <div class="system-message">Выберите предмет, чтобы начать чат.</div>
        </div>

        <div class="chat-input-container">
            <textarea id="user-message" placeholder="Введите ваше сообщение..."></textarea>
            <button id="open-upload-modal" class="upload-trigger"><i class="fas fa-upload"></i></button>
            <button onclick="sendMessage()"><i class="fas fa-paper-plane"></i></button>
        </div>
    </section>

<!--    <div class="col-md-3">-->
<!--    <div class="container mt-5 p-3 bg-light rounded-3 shadow-lg">-->
<!--        <h4 class="text-warning mb-4">Настройки теста</h4>-->
<!--        <form>-->
<!--            <div class="row g-3">-->
<!--                &lt;!&ndash; Укажите количество вопросов &ndash;&gt;-->
<!--                <div class="col-12">-->
<!--                    <div class="mb-3">-->
<!--                        <label for="question-count" class="form-label">Укажите количество вопросов:</label>-->
<!--                        <input type="number" class="form-control form-control-lg" id="question-count" name="question_count" placeholder="Введите количество вопросов" required min="1" max="5" step="1">-->
<!--                        &lt;!&ndash; Кнопки для выбора количества &ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="btn-group w-100 mt-2" role="group">&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('question-count', 1)">1</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('question-count', 2)">2</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('question-count', 3)">3</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('question-count', 4)">4</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('question-count', 5)">5</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Укажите тему теста &ndash;&gt;-->
<!--                <div class="col-12">-->
<!--                    <div class="mb-3">-->
<!--                        <label for="topic" class="form-label">Укажите тему теста:</label>-->
<!--                        <input type="text" class="form-control form-control-lg" id="topic" name="topic" placeholder="Введите тему теста" required>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Укажите ключевые слова &ndash;&gt;-->
<!--                <div class="col-12">-->
<!--                    <div class="mb-3">-->
<!--                        <label for="keywords" class="form-label">Укажите ключевые слова:</label>-->
<!--                        <input type="text" class="form-control form-control-lg" id="keywords" name="keywords" placeholder="Введите ключевые слова" required>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Уровень сложности &ndash;&gt;-->
<!--                <div class="col-12">-->
<!--                    <div class="mb-3">-->
<!--                        <label for="difficulty-level" class="form-label">Уровень сложности:</label>-->
<!--                        <select class="form-select form-select-lg" id="difficulty-level" name="difficulty_level" required>-->
<!--                            <option value="" disabled selected>Выберите уровень</option>-->
<!--                            <option value="Начальный">Начальный</option>-->
<!--                            <option value="Средний">Средний</option>-->
<!--                            <option value="Продвинутый">Продвинутый</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Вопросы с одним вариантом ответа &ndash;&gt;-->
<!--                <div class="col-12">-->
<!--                    <div class="mb-3">-->
<!--                        <label for="single-choice-count" class="form-label">Вопросы с одним вариантом ответа:</label>-->
<!--                        <input type="number" class="form-control form-control-lg" id="single-choice-count" name="single_choice_count" placeholder="Введите количество" required min="1" max="5" step="1">-->
<!--                        &lt;!&ndash; Кнопки для выбора количества &ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="btn-group w-100 mt-2" role="group">&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('single-choice-count', 1)">1</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('single-choice-count', 2)">2</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('single-choice-count', 3)">3</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('single-choice-count', 4)">4</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('single-choice-count', 5)">5</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Вопросы с множественным выбором &ndash;&gt;-->
<!--                <div class="col-12">-->
<!--                    <div class="mb-3">-->
<!--                        <label for="multiple-choice-count" class="form-label">Вопросы с множественным выбором:</label>-->
<!--                        <input type="number" class="form-control form-control-lg" id="multiple-choice-count" name="multiple_choice_count" placeholder="Введите количество" required min="1" max="5" step="1">-->
<!--                        &lt;!&ndash; Кнопки для выбора количества &ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="btn-group w-100 mt-2" role="group">&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('multiple-choice-count', 1)">1</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('multiple-choice-count', 2)">2</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('multiple-choice-count', 3)">3</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('multiple-choice-count', 4)">4</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('multiple-choice-count', 5)">5</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Вопросы с пропущенным словом &ndash;&gt;-->
<!--                <div class="col-12">-->
<!--                    <div class="mb-3">-->
<!--                        <label for="gap-fill-count" class="form-label">Вопросы с пропущенным словом:</label>-->
<!--                        <input type="number" class="form-control form-control-lg" id="gap-fill-count" name="gap_fill_count" placeholder="Введите количество" required min="1" max="5" step="1">-->
<!--                        &lt;!&ndash; Кнопки для выбора количества &ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="btn-group w-100 mt-2" role="group">&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('gap-fill-count', 1)">1</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('gap-fill-count', 2)">2</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('gap-fill-count', 3)">3</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('gap-fill-count', 4)">4</button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="button" class="btn btn-outline-primary btn-sm rounded-3" onclick="setNumber('gap-fill-count', 5)">5</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--            <button type="submit" id="generate-test" class="btn btn-warning text-dark mt-3 w-100">Составить тест</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

</main>
    {% endblock %}


    {% block modals %}
    <div id="upload-modal" class="modal hidden">
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            <h3>Загрузите документ</h3>
            <form id="upload-form" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <input type="file" name="document" id="document" accept=".docx">
                <button type="submit" class="upload-button">Загрузить</button>
            </form>
        </div>
    </div>
{% endblock %}
